body {
  font-family: -apple-system
    ,BlinkMacSystemFont,Segoe
    UI,Roboto,Oxegne-sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 8px;
  font-weight: 700;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.space-list-items {
  margin-bottom: 7px;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

 a,
 .nav a {
   text-decoration: none;
   color: rgb(208, 2, 27);
 }

.active {
  font-weight: 700;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #e6e6e6;
  background-color: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 16px;
  widows: 200px;
  text-align: center;
  display: block;
  padding: 7px;
  margin: 10px auto;
}

  .button:hover:enabled {
    background: liner-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration: none;
  }

  .button:active {
    transform: translateY(1px);
  }
